$primary-color: hsl(20, 20%, 20%);
$secondary-color: hsl(20, 20%, 25%);
$tertiary-color: hsl(20, 20%, 15%);
$foreground-color: hsl(0, 0%, 90%);
$stroke-color: hsl(20, 10%, 40%);
$hover-color: hsl(20, 20%, 35%);
$cover-color: hsla(20, 20%, 20%, 40%);

$alert-idle-color: hsla(20, 10%, 10%, 20%);
$alert-success-color: hsla(120, 100%, 30%, 20%);
$alert-warning-color: hsla(50, 100%, 30%, 20%);
$alert-error-color: hsla(0, 90%, 30%, 20%);