@use 'color-scheme';
$font-family: "Noto Sans", sans-serif;

* {
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: color-scheme.$foreground-color
}

body {
    background-color: color-scheme.$primary-color;
    margin: 0
}

header {
    background-color: color-scheme.$secondary-color;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

main {
    margin: 0 2rem;
}

h1 {
    margin: 0;
    text-align: center;
}